
body {
    font-family: 'Roboto Slab', 'Playfair', sans-serif;
    max-width: 980px;
    margin: 0 auto;
}

h1 {
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(79, 20, 174);
    padding: 20px 40px;
}

nav:hover {
    cursor: pointer;
}

nav ul {
    text-decoration: none;
    list-style: none;
}

nav ul li {
    display: none;
    padding: 5px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

nav ul li a:hover {
    color: aqua;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
    border-radius: 5px;
    background-color: black;
}

nav::before {
    content: "☰";
    color: white;
    font-size: 40px;
}

nav.show::before {
    content: "❌";
    color: white;
    padding-left: 50px;
    font-size: 30px;
}

.show li {
    display: block;
}
img{
    width: 100%;
}

main {
    text-align: center;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    background-color: rgb(88, 15, 206);
}
section {
	display:grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

figure {
	margin: 0.5em;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: center;
	background-color: rgb(79, 20, 174);
	padding: 2rem;
    border-radius: 50px;
    gap: 20px;

}

img {
	box-shadow: 2px 2px 20px rgb(56, 93, 168);
    border-radius: 30px;
}
  

footer{
    background-color: rgb(79, 20, 174);
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 20px;
}
