/*mobile view*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero-image-mobile {
    display: none;
}

@media (max-width: 768px) {
    body, html {
        height: 100%;
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    :root {
        --primary-color: #1c5047; /* Main theme color */
        --secondary-color: #f5f4f1; /* Secondary color */
    }
    header {
        background-color: var(--primary-color);
        color: white;
        text-align: center;
        width: 100%;
    }
    
    .header::after {
        content: '';
        display: block;
        height: 4px;
        background-color: var(--secondary-color); /* Using secondary color for visual separation */
    }
    .header h1 {
        font-size: 35px;
        color: white;
        margin: 0;
        padding: 10px;
    }
    .weather-icon-wider {
        display: none;
    }
    .weather-icon-mobile {
        display: flex;
        width: 80px;   
        height: 80px;  
    }
    .weather {
        display: flex;
        flex-direction: column;
        align-items: center;  
    }

    .header-decoration2 {
        width: 100%;
        height: 5px;
        background-color: var(--secondary-color);
    }
    .hero-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: auto; 
    }

    .hero {
        width: 100%; 
        display: flex;
        flex-direction: column; 
        align-items: center;
    }

    .hero-image {
        display: none; 
    }

    .hero-image-mobile {
        display: block;
        width: 100%;
        height: auto;
    }

    .overlay {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: none;
        color: black;
        position: static;
        width: 100%;
    }

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    

    .data, .weather {
        width: 100%;
        padding: 20px;
        margin-top: 20px;
        text-align: center;
    }
    .data h2, .weather h2 {
        padding: 1px;
        text-align: center;
        margin-bottom: 30px;
    }
    .data p, .weather p {
        padding: 7px;
        text-align: center;
    }

    .data {
        margin-bottom: 10px;
    }

    footer {
        margin-top: 10px;
        padding: 10px;
        background-color: var(--primary-color); 
        color: #fff; 
        text-align: center;
        font-size: 13px;
        width: 100%;
    }

    footer p {
        font-size: 12px;
        padding: 5px;
        font-family: Verdana, Tahoma, sans-serif;
    }
}
